SUI_PRIVATE_KEY=                  # suiprivkey1... bech32 key from: sui keytool export --key-identity <address>

PACKAGE_ID=0x62163791a217539103b137252c5d454a0af72a43d5c49561125907ddb8ed04f7
MINT_CAP_ID=0x56f61ae0fa7810f8cc22d9e37a6a1b2146fed378dc391c6db01ee26d64baf7f4
PRODUCER_REGISTRY_ID=0xdbb162108b0c87ca9130f5594194017cc80bb6e2a6277e896cabedd18a8be257

# Auth server
DATABASE_URL="file:./dev.db"        # or postgresql://user:pass@host:5432/dbname for prod
JWT_SECRET=                          # 32+ random bytes hex
WALLET_ENCRYPTION_KEY=               # 32 random bytes hex (encrypts custodial private keys at rest)
PORT=3000
